<div>
  <h2>Products</h2>

  <button *ngIf="isAdmin" (click)="goToCreate()">Add Product</button>

  <table border="1" cellspacing="0" cellpadding="4" style="margin-top: 10px; width: 100%;">
    <thead>
      <tr>
        <th>Name</th><th>Description</th><th>Price</th><th>Stock</th><th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of products">
        <td>{{ p.name }}</td>
        <td>{{ p.description }}</td>
        <td>{{ p.price | currency }}</td>
        <td>{{ p.stock }}</td>
        <td>
          <button *ngIf="!isAdmin" (click)="addToCart(p)">Add to Cart</button>

          <button *ngIf="isAdmin" (click)="editProduct(p.id)">Edit</button>
          <button *ngIf="isAdmin" (click)="deleteProduct(p.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
