<nav class="nav">
  <a routerLink="/products" routerLinkActive="active">Products</a>
  <a routerLink="/cart" *ngIf="auth.isLoggedIn()" routerLinkActive="active">Cart</a>
  <a routerLink="/my-orders" *ngIf="auth.isLoggedIn()" routerLinkActive="active">My Orders</a>

  <a routerLink="/admin/orders" *ngIf="auth.hasRole('Admin')" routerLinkActive="active">All Orders</a>
  <a routerLink="/admin/users" *ngIf="auth.hasRole('Admin')" routerLinkActive="active">Users</a>

  <span class="right">
    <ng-container *ngIf="auth.currentUser as user; else guest">
      Hello, {{ user.fullName }} ({{ user.role }}) |
      <button (click)="logout()">Logout</button>
    </ng-container>
    <ng-template #guest>
      <a routerLink="/login">Login</a> |
      <a routerLink="/register">Register</a>
    </ng-template>
  </span>
</nav>
